body{
font-family:Verdana,Arial,Helvetica,sans-serif;
background-image:url('background_sonora.svg');
background-repeat: repeat-x;
}
p#title{
font-size: 35px;
position: fixed;
right: 20px;
}
p#copyright{
font-size: 12px;
position: fixed;
bottom: 3px;
right: 10px;
}